@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header-img {
  background-image: url('../../public/headerimg.jpg');
  background-position: center;
  background-attachment: fixed;
}


.dish-bg {
  background-image: url('../../public/checkBg.jpg');
  background-position: center;

}

.newrecipe-bg {
  background-image: url('../../public/flowersbg.jpg');
}



.box:hover {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}



